################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/*
**/bin/*
**/obj/*
*.user
*.suo
*.opencover.xml
node_modules
/TestResults
/src/Faaast.Tests/TestResults.info
